<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, inictial-scale=1, user-scalable=yes">
    <title>Moustache GED</title>
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/menu_principal.css">
    <script src="/js/principal_layout.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
<body>

<main class="principal">

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Moustache GED</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Moustache GED</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->
      <div class="tab">
        <button class="tablinks" onclick="openDpto(event, 'Contabilidade')" id="defaultOpen">Contabilidade</button>
        <button class="tablinks" onclick="openDpto(event, 'Compras')">Compras</button>
        <button class="tablinks" onclick="openDpto(event, 'RH')">RH</button>
      </div>

      <div id="Contabilidade" class="tabcontent">
        <h3>Contabilidade</h3>

            <button class="accordion">Declaração IR</button>
            <div class="panel">
              <table>
                <tr>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Tipo</th>
                  <th>Proprietário</th>
                </tr>
                <tr>
                  <td>Arquivo do Zeno</td>
                  <td>meu arquivo</td>
                  <td>Texto</td>
                  <td>Zeno França Jr</td>
                </tr>
                <tr>
                  <td>Arquivo da Jéssica</td>
                  <td>arquivo dela</td>
                  <td>Imagem</td>
                  <td>Jéssica</td>
                </tr>
                
              </table>
            </div>

            <button class="accordion">Docs Geral</button>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <button class="accordion">Publico</button>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            
      </div>

<div id="Compras" class="tabcontent">
  <h3>Compras</h3>
  <p>Compras is the capital of France.</p> 
</div>

<div id="RH" class="tabcontent">
  <h3>RH</h3>
  <p>RH is the capital of Japan.</p>
</div>



    </div>
  </main>
</div>
</main>

<!--Script dos accordions-->
<script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            }
            </script>
</body>
</html>
