<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, inictial-scale=1, user-scalable=yes">
    <title>Moustache GED</title>
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/menu_principal.css">
    <script src="/js/principal_layout.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
<body>

<main class="principal">

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Moustache GED</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>



      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="principal">Home</a>
        <a class="mdl-navigation__link" href="busca">Busca Avançada</a>
        <a class="mdl-navigation__link" href="upload">Upload arquivo</a>
        <a class="mdl-navigation__link" href="">Cadastro Usuários</a>
        <a class="mdl-navigation__link" href="">Sair</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->






      <div class="tab">
        <button class="tablinks" onclick="openDpto(event, 'Contabilidade')" id="defaultOpen">Contabilidade</button>
        <button class="tablinks" onclick="openDpto(event, 'Compras')">Compras</button>
        <button class="tablinks" onclick="openDpto(event, 'RH')">RH</button>
      </div>

      <div id="Contabilidade" class="tabcontent">
        <h3>Contabilidade</h3>

            <button class="accordion">Declaração IR</button>
            <div class="panel">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th>Nome</th>
    <th>Tipo</th>
    <th>Descrição</th>
    <th>Proprietário</th>
  </tr>

  <% for(var i=0; i<lista.length; i++) {%>
      <tr>
          <td><%= lista[i].nome %></td>
          <td><%= lista[i].tipo %></td>
          <td><%= lista[i].descricao %></td>
          <td><%= lista[i].proprietario %></td>
      </tr>
  <% } %>

</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
            </div>




            <button class="accordion">Docs Geral</button>
            <div class="panel">
              <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Nome</th>
                    <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                    <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                    <th class="mdl-data-table__cell--non-numeric">Proprietário</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Declaração Zeno</td>
                    <td class="mdl-data-table__cell--non-numeric">Declaração IR Zeno</td>
                    <td class="mdl-data-table__cell--non-numeric">Texto</td>
                    <td class="mdl-data-table__cell--non-numeric">Zeno França Jr</td>
                  </tr>

                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Declaração Jéssica</td>
                    <td class="mdl-data-table__cell--non-numeric">Declaração IR Jéssica</td>
                    <td class="mdl-data-table__cell--non-numeric">Texto</td>
                    <td class="mdl-data-table__cell--non-numeric">Jéssica </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <button class="accordion">Publico</button>
            <div class="panel">
              <table id='myTable' class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Nome</th>
                    <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                    <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                    <th class="mdl-data-table__cell--non-numeric">Proprietário</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Declaração Zeno</td>
                    <td class="mdl-data-table__cell--non-numeric">Declaração IR Zeno</td>
                    <td class="mdl-data-table__cell--non-numeric">Texto</td>
                    <td class="mdl-data-table__cell--non-numeric">Zeno França Jr</td>
                  </tr>

                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Declaração Jéssica</td>
                    <td class="mdl-data-table__cell--non-numeric">Declaração IR Jéssica</td>
                    <td class="mdl-data-table__cell--non-numeric">Texto</td>
                    <td class="mdl-data-table__cell--non-numeric">Jéssica </td>
                  </tr>

                </tbody>
              </table>
            </div>


      </div>

<div id="Compras" class="tabcontent">





</div>

<div id="RH" class="tabcontent">
  <h3>RH</h3>
  <p>RH is the capital of Japan.</p>
</div>



    </div>
  </main>
</div>
</main>



<!--Script dos accordions-->
<script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            }
</script>




</body>
</html>
