<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, inictial-scale=1, user-scalable=yes">
    <title>Moustache GED</title>
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/menu_principal.css">
    <script src="/js/principal_layout.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
<body>

<style>

.formulario{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

</style>

<main class="principal">

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Moustache GED</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>



      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="principal">Home</a>
        <a class="mdl-navigation__link" href="">Busca Avançada</a>
        <a class="mdl-navigation__link" href="upload">Upload arquivo</a>
        <a class="mdl-navigation__link" href="">Cadastro Usuários</a>
        <a class="mdl-navigation__link" href="">Sair</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->

    <div class="formulario">
      <form action="/salva" method="post">

        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Informe o nome do arquivo">

        <label for="tipo">Tipo</label>
        <select id="tipo" name="tipo">
          <option value="texto">texto</option>
          <option value="imagem">Imagem</option>
        </select>


        <label for="descricao">Descrição</label>
        <input type="text" id="descricao" name="descricao" placeholder="Descrição do arquivo">

        <label for="proprietario">Proprietario</label>
        <input type="text" id="proprietario" name="proprietario" placeholder="Proprietario do arquivo">

        <input type="submit" value="Upload">

      </form>
    </div>
    </div>


    </div>
  </main>
</div>
</main>



<!--Script dos accordions-->
<script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            }
</script>




</body>
</html>
